body {
    background-image: url('Photos/Background_Image.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-color: black;
    background-size: cover;
}

.links {
    padding: 20px;
}

.container-sm  {
    background-color: rgba(0, 0, 0, 0.95);
}

.card-text {
    color: black;
}

.btn-primary {
    margin: 2px;
}