body {
    background-image: url('./assets/Photos/Background_Image.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-color: black;
    background-size: cover;
}

.links {
    padding: 20px;
    width: "115px"
}

h1, h4, p, h5 {
    color: whitesmoke
}

h5 {
  padding-left: 15px;
  padding-bottom: 5px;
}

.container-sm  {
    background-color: rgba(0, 0, 0, 0.95);
}

.card-text {
    color: black;
}

.btn-primary {
    margin: 2px;
}
