body {
    background-image: url('./assets/Photos/Background_Image.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-color: black;
    background-size: cover;
}

h1, h4, p, h5 {
    color: whitesmoke
}

h5 {
  padding-left: 15px;
  padding-bottom: 5px;
}

.aboutMeContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
}

.aboutMeLinks > a, .aboutMeLinks > a > img {
    margin: 15px;
    width: 75px;
}

.aboutMeLinks > button {
    margin: 25px;
    width: 100px;
}

.btn-primary {
    margin: 2px;
}

.card-text {
    color: black;
}

.container-sm  {
    background-color: rgba(0, 0, 0, 0.95);
}

@media only screen and (max-width: 775px){
    .aboutMeContainer {
        padding: 0px;
    }

    .aboutMeLinks {
        margin: auto;
    }

    .aboutMeLinks > a, .aboutMeLinks > a > img {
        margin: 5px;
        width: 50px;
    }
    
    .aboutMeLinks > button {
        margin: 5px;
        width: 100px;
    }
}



